// Colors
$color-black: #000000;
$color-white: #ffffff;
$color-primary: #639605;
$color-primary-hover: darken(#639B31, 10%);
$color-border: #C9C9C9;
$color-error: #9f1f1f;
$color-shadow: #0000001F;

// Typography
$font-family-primary: "Open Sans", sans-serif;
$font-size-base: 14px;
$font-size-h1: 20px;
$font-size-h2: 16px;

// Breakpoints
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;