<section>
  <div class="container">
    <div class="toolbar">
      <button>
        <img src="assets/images/menu-button.svg" alt="Ícono menú">
      </button>
  
    <button>
      <img src="assets/images/magnifier.svg" alt="Ícono búsqueda">
    </button>
  
    <a href="/mis-datos">
      <img src="assets/images/logo.svg" alt="Logo Tiendanimal">
    </a>
  
    <button>
      <img src="assets/images/login.svg" alt="Ícono login">
    </button>
  
    <button>
        <img src="assets/images/cart.svg" alt="Ícono login">
      </button>
    </div>
  </div>
</section>